.Average {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 2px solid green;
}

.Average input {
  font-size: 12px;
  margin-top: 10px;
  padding: 0px;
  height: 25px;
  border: 1px solid green;
}

.Average button {
  font-size: 12px;
  margin-left: -1px;
  padding: 0px;
  height: 27px;
  width: 50px;
}

.Average ul {
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0px;
  text-align: center;
}