.Event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.Event input {
  margin: 5px;
  height: 25px;
  border: 1px solid green;
}