.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid green;

  ul {
    list-style: none;
    padding: 0px;
  }

  li {
    display: inline;
    padding-right: 10px;
  }

  canvas {
    position: relative;
    width: 300px;
    height: 150px;
    left: 40%;
  }
}