.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  grid-column: 1/-1;
  margin-bottom: 10px;

  ul {
    list-style: none;
    text-align: center;
    padding: 0px;

    li {
      display: inline;
      padding-left: 10px;
      letter-spacing: 2px;

      @media (max-width: 370px) {
        display: block;
      }
    }
  }
}