.NewsCategories {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 768px;
  margin: 0px auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
  }
}

.category {
  font-size: 1.125rem;
  cursor: pointer;
  white-space: pre;
  text-decoration: none;
  color: #00B800;
  padding-bottom: 0.25rem;

  &:hover {
    color: #00FF00;
  }

  &:active {
    color: red;
  }

  & + & {
    margin-left: 1rem;
  }
}