.Practice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;

  .visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    padding: 3px;
  }

  @media (max-width: 870px) {
    display: flex;
    flex-direction: column;
  }
}