.scrollBox {
  border: 2px solid green;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll::-webkit-scrollbar-track {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: green;
  background-color: black;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: green;
}