.Validation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
}

.Validation input {
  padding: 0px;
  margin: 5px;
  height: 23px;
  margin-right: -6px;
  outline: none;
  border: 1px solid green;
}

.success {
  background-color: lightgreen !important;
}

.failure {
  background-color: lightcoral !important;
}