.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
}

.validationInput {
  padding: 0px;
  margin: 5px;
  height: 21px;
  margin-right: -6px;
}

.success {
  background-color: lightgreen !important;
}

.failure {
  background-color: lightcoral !important;
}