.WithRouterSample {
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    border: 1px solid green;
  }

  textarea {
    color: green;
    background-color: black;
    border: 1px solid green;

    &::-webkit-scrollbar-track {
      border-style: solid;
      border-width: 0px 0px 0px 1px;
      border-color: green;
      background-color: black;
    }
    
    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: green;
    }

    &::-webkit-resizer {
      background-color: green;
    }
  }
}