.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid green;
  font-size: 25px;
}

.btn {
  width: 50px;
  margin-right: 0px;
  margin-left: 0px;
}