.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border: 2px solid black;
}

button {
  width: 100px;
  height: 25px;
  margin: 5px;
}