.Game {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;

  ol, ul {
    padding-left: 30px;

    button {
      width: 125px
    }
  }
  
  .game-info {
    margin-left: 20px;
  }

  .status {
    margin-bottom: 10px;
  }
}