.ReduxTodos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  padding: 10px;

  form {
    display: flex;

    input {
      border: 1px solid green;
      padding: 0px;
      height: 25px;
    }

    button {
      margin: 0px;
      height: 27px;
      width: 70px;
    }
  }

  .todoList {
    margin-top: 10px;
  }

  .todoItem {

    button {
      margin: 0px 0px 5px 5px;
    }
  }
}